# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]

# Caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Distribution / packaging
build/
dist/
*.egg-info*

# Virtual environment
.env
.venv/
venv/

# IDEs
.idea

# Datastore files
datastore/
test-datastore/

# Memory consumption log
test-memory.log
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
